@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Outfit:wght@300;400;600&display=swap");

:root {
  --Soft-blue: hsl(215, 51%, 70%);
  --Cyan: hsl(178, 100%, 50%);
  --Very-dark-blue: hsl(217, 54%, 11%);
  --Very-dark-blue: hsl(216, 50%, 16%);
  --Very-dark-blue: hsl(215, 32%, 27%);
  --White: hsl(0, 0%, 100%);
}

* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

body {
  background-color: hsl(217, 54%, 11%);
  font-size: 18px;
  align-items: center;
  justify-content: center;
  font-family: "Outfit", sans-serif;
  padding: 1rem;
  cursor: pointer;
}

.container {
  background-color: hsl(216, 50%, 16%);
  display: flex;
  flex-direction: column;
  border-radius: 2rem;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.container .card {
  background: url(./images/image-equilibrium.jpg) no-repeat center/cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 20px 5px;
  height: 400px;
  width: 300px;
  padding: 0 2rem;
  border-radius: 1rem;
}

.overlay img {
  opacity: 0%;
}

.container h2 {
  color: var(--White);
  font-family: "Outfit", sans-serif;
  font-size: 28px;
  font-weight: 600;
  text-align: left;
  line-height: 1.6;
  margin-right: 4rem;
}

.container p.main-paragraph {
  color: var(--Soft-blue);
  font-size: 18px;
  font-weight: 400;
  line-height: 1.6;
  text-align: left;
  margin-left: 1.6rem;
  padding: 15px 20px 15px 10px;
}

.overview {
  display: flex;
  margin: 20px auto;
  padding: 10px;
  width: 90%;
  flex-direction: row;
  align-items: center;
  line-height: 1.5;
  justify-content: space-between;
}

.overview .value {
  color: var(--Cyan);
  display: flex;
  align-items: center;
  justify-content: center;
}

.etherium {
  font-size: 16px;
  height: 1.5em;
  padding-right: 10px;
}

.clock {
  height: 1.5em;
  padding-left: 30px;
}

.time {
  color: var(--Soft-blue);
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 5px;
}

.line {
  color: hsl(215, 32%, 27%);
  margin: 0 0 1rem 0;
  border: 0.5px solid;
  width: 85%;
}

.profile {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 95%;
  padding: 0 7rem 2rem 0.5rem;
}

.profile img {
  height: 3.5em;
  width: 3.5em;
  border-radius: 50%;
  border-style: solid;
  border-color: white;
}

p.name {
  justify-content: center;
  color: var(--White);
  font-size: 18px;
  font-family: "Outfit", sans-serif;
  text-align: left;
  margin-left: 1rem;
  padding-bottom: 1rem;
}

p.name span {
  color: var(--Soft-blue);
}

/* Attributes */
footer {
  margin-top: 0.5rem;
}

.attribution {
  font-size: 11px;
  text-align: center;
  color: var(--White);
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

@media (min-width: 600px) {
  .container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    height: 720px;
    width: 450px;
    padding: 0;
  }

  footer {
    padding: 0;
  }

  .container .card {
    width: 400px;
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .container h2 {
    margin-right: 7.2rem;
  }

  p.main-paragraph {
    font-size: 15px;
    text-align: center;
  }

  .card:hover img {
    opacity: 90%;
    transition: 0.3s;
    transform: translate(-50%, -50%);
  }

  .card:hover {
    background: hsl(178, 100%, 50%, 0.55);
    filter: blur(5px);
    -webkit-filter: blur(5px);
    transition: 0.3s;
  }

  h2:hover,
  p.name:hover {
    color: var(--Cyan);
  }
}
